absl-py==1.4.0
aiofiles==23.2.1
alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
astunparse==1.6.3
attrs==23.1.0
Babel==2.13.0
blinker==1.6.2
bootstrap-py==2.0.0
Brotli==1.1.0
cachetools==5.3.1
cattrs==23.1.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
constructs==10.2.69
contourpy==1.1.1
cycler==0.12.0
defusedxml==0.7.1
dnspython==2.4.2
docutils==0.20.1
fastapi==0.100.0
ffmpeg==1.4
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.43.0
gast==0.4.0
gevent==23.9.1
geventhttpclient==2.0.10
gitdb==4.0.10
GitPython==3.1.37
greenlet==3.0.0rc3
grpcio==1.58.0
gunicorn==21.2.0
h11==0.14.0
h5py==3.9.0
idna==3.4
imagesize==1.4.1
importlib-resources==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsii==1.86.1
kiwisolver==1.4.5
libclang==16.0.6
locust==2.16.1
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.8.0
mediapipe==0.10.5
ml-dtypes==0.2.0
motor==3.3.1
mpmath==1.3.0
msgpack==1.0.5
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.0.76
opt-einsum==3.3.0
packaging==23.1
path==16.7.1
pguard==0.4.0
Pillow==10.0.0
protobuf==3.20.3
psutil==5.9.5
publication==0.0.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.1.1
pydantic-settings==2.0.3
pydantic_core==2.4.0
pyflakes==3.1.0
Pygments==2.16.1
pymongo==4.5.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.1
pyzmq==25.1.1
requests==2.31.0
requests-oauthlib==1.3.1
roundrobin==0.0.4
rsa==4.9
setuptools-scm==8.0.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sounddevice==0.4.6
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
starlette==0.27.0
sympy==1.12
termcolor==2.3.0
typeguard==2.13.3
typing_extensions==4.8.0
urllib3==1.26.16
uvicorn==0.23.2
websockets==11.0.3
Werkzeug==2.3.7
wget==3.2
wrapt==1.14.1
zope.event==5.0
zope.interface==6.0