asyncio
bootstrap-py
uvicorn
fastapi
ffmpeg
gunicorn
jinja2
mediapipe
opencv-python
opencv-python-headless
path
Pillow
psutil
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
requests
starlette
urllib3
wget
websockets
wrapt