asyncio
uvicorn
fastapi
ffmpeg
gunicorn
jinja2
libgl1
libsm6
libxext6
mediapipe
opencv-python
path
Pillow
psutil
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
requests
starlette
urllib3
wget
websockets
wrapt